version: 2
updates:
  - package-ecosystem: "cargo"
    directory: "/"
    schedule:
      interval: "weekly"
    commit-message:
      prefix: "deps(rust)"
    labels:
      - "dependencies"
      - "rust"
    open-pull-requests-limit: 20
