# Logs
logs
*.log

*.local
*.sh
*.lz4
.gradle
jniLibs
shared/src/desktopMain/resources
local.properties
release-keystore.jks
build/
result/
scripts/
target/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
instructions